# macOS システムファイル
.DS_Store

# Rails
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Node
/frontend/node_modules

# Docker
docker-compose.override.yml

# その他
.env

# SSL
/nginx/ssl/*.key
/nginx/ssl/*.crt
